.navbar {
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  position: fixed;
}
.ontop {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2px 32px;
}
.ontop__divider {
  padding: 0 8px;
}
.navbar__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  background-color: #fff;
}
.navbar__logo {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.navbar__toggle_menu,
.navbar__close_menu {
  display: none;
}
.navbar__list {
  display: flex;
}
.navbar__item {
  padding: 28px 20px;
  font-size: 1.2rem;
  color: #000;
  cursor: pointer;
  transition: background-color 0.2s;
  text-wrap: nowrap;
}
.navbar__item:hover {
  background-color: #e9e9e9;
}
@media (max-width: 800px) {
  .navbar__container {
    padding: 0 16px;
  }
  .navbar__logo_title {
    display: none;
  }
  .navbar__toggle_menu,
  .navbar__close_menu {
    display: block;
  }
  .navbar__close_menu {
    margin: 1rem 1.5rem;
    display: flex;
    justify-content: flex-end;
  }
  .navbar__list {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    max-width: 350px;
    top: 0;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    transition: 0.4s;
    background-color: #fff;
  }
  .navbar__item {
    height: auto;
    display: block;
    margin: 0.5rem;
  }
  .navbar__list--show {
    left: 0;
  }
}
